@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px 25%;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
}
.container .color {
    color: rgb(86, 187, 227);
    padding-bottom: 20px;
}

.container button{ 
    border: none;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 0.2s;
}
.container button:hover {
    opacity: 80%;
}